<a href="https://colab.research.google.com/github/roop01/pandas-tutorial/blob/main/01_pandas_excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Excercise

**Problem 1.1**

Find the rainfall dataset that is to be considered for the exercise.. This data contains region(district) wise rainfall across India.

1. Import the data into Python environment as a Pandas DataFrame.
2. Check for missing values, if any and drop the corresponding rows.
3. Find the district that gets the highest annual rainfall.
4. Display the top 5 states that get the highest annual rainfall.
5. Drop the columns 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'.
6. Display the state-wise mean rainfall for all the months using a pivot table.
7. Display the count of districts in each state.
8. For each state, display the district that gets the highest rainfall in May. Also display the recorded rainfall.

In [45]:
#Import the data into Python environment as a Pandas DataFrame.

import pandas as pd

rain_data = pd.read_csv('/content/sample_data/rainfall_Data.csv')
rain_data.head(5)

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1

In [3]:
#Check for missing values, if any and drop the corresponding rows.
rain_data.info() #no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATE_UT_NAME  641 non-null    object
 1   DISTRICT       641 non-null    object
 2   JAN            641 non-null    float64
 3   FEB            641 non-null    float64
 4   MAR            641 non-null    float64
 5   APR            641 non-null    float64
 6   MAY            641 non-null    float64
 7   JUN            641 non-null    float64
 8   JUL            641 non-null    float64
 9   AUG            641 non-null    float64
 10  SEP            641 non-null    float64
 11  OCT            641 non-null    float64
 12  NOV            641 non-null    float64
 13  DEC            641 non-null    float64
 14  ANNUAL         641 non-null    float64
 15  Jan-Feb        641 non-null    float64
 16  Mar-May        641 non-null    float64
 17  Jun-Sep        641 non-null    float64
 18  Oct-Dec        641 non-null    float64
dtypes: float64(17), object(2)
memory usage: 95.3+ KB

In [4]:
rain_data.describe()

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
count,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.000000,641.00000,641.000000
mean,18.355070,20.984399,30.034789,45.543214,81.535101,196.007332,326.033697,291.152262,194.609048,90.446334,34.117473,18.150858,1346.969579,39.339470,157.113105,1007.80234,142.714665
std,21.082806,27.729596,45.451082,71.556279,111.960390,196.556284,221.364643,152.647325,99.830540,74.990685,59.371274,32.711009,838.878874,47.212773,213.445888,629.33261,148.951752
min,0.000000,0.000000,0.000000,0.000000,0.900000,3.800000,11.600000,14.100000,8.600000,3.100000,1.200000,0.000000,94.600000,0.000000,1.500000,39.60000,5.600000
25%,6.900000,7.000000,7.000000,5.000000,12.100000,68.800000,206.400000,194.600000,128.800000,34.300000,6.600000,5.300000,830.400000,14.700000,27.800000,625.40000,51.600000
50%,13.300000,12.300000,12.700000,15.100000,33.900000,131.900000,293.700000,284.800000,181.300000,62.600000,12.900000,7.900000,1116.200000,27.700000,67.200000,896.60000,86.700000
75%,19.200000,24.100000,33.200000,48.300000,91.900000,226.600000,374.800000,358.100000,234.100000,130.200000,32.300000,14.900000,1530.900000,41.100000,172.400000,1193.80000,175.200000
max,144.500000,229.600000,367.900000,554.400000,733.700000,1476.200000,1820.900000,1522.100000,826.300000,517.700000,475.100000,297.700000,7229.300000,335.300000,1256.500000,5228.00000,1048.500000

In [23]:
#Find the district that gets the highest annual rainfall.
#highest_rainfall = rain_data["ANNUAL"].max()

i = rain_data["ANNUAL"].idxmax()
print(rain_data.loc[[i]])
print(rain_data.at[i,'DISTRICT'])

   STATE_UT_NAME    DISTRICT   JAN    FEB    MAR    APR    MAY     JUN  \
55       MANIPUR  TAMENGLONG  48.5  229.6  224.5  431.5  539.9  1158.7

       JUL     AUG    SEP    OCT    NOV  DEC  ANNUAL  Jan-Feb  Mar-May  \
55  1820.9  1522.1  726.3  376.1  144.0  7.2  7229.3    278.1   1195.9

    Jun-Sep  Oct-Dec
55   5228.0    527.3

In [26]:
#Display the top 5 states that get the highest annual rainfall.

rain_data.sort_values('ANNUAL', ascending=False).head(5)

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
55,MANIPUR,TAMENGLONG,48.5,229.6,224.5,431.5,539.9,1158.7,1820.9,1522.1,726.3,376.1,144.0,7.2,7229.3,278.1,1195.9,5228.0,527.3
47,MEGHALAYA,JAINTIA HILLS,33.8,44.1,115.1,282.3,598.8,1316.1,1591.3,933.8,826.3,517.7,110.9,9.7,6379.9,77.9,996.2,4667.5,638.3
46,MEGHALAYA,EAST KHASI HI,15.4,24.1,129.7,312.5,733.7,1476.2,1518.4,1019.4,607.8,277.9,40.3,10.7,6166.1,39.5,1175.9,4621.8,328.9
12,ARUNACHAL PRADESH,UPPER SIANG,74.3,176.7,362.6,397.5,408.7,801.9,653.0,417.9,686.0,264.9,86.9,71.7,4402.1,251.0,1168.8,2558.8,423.5
598,KARNATAKA,UDUPI,1.4,0.4,4.1,29.4,193.8,1081.0,1371.6,902.2,404.9,223.8,74.6,18.8,4306.0,1.8,227.3,3759.7,317.2

In [27]:
#Drop the columns 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'.
rain_data.drop(columns=['Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'], inplace=True)
rain_data.head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7

In [33]:
#Display the state-wise mean rainfall for all the months using a pivot table.

rain_data_annual_mean = rain_data.groupby('STATE_UT_NAME')[['ANNUAL']].mean()
rain_data_annual_mean

                                  ANNUAL
STATE_UT_NAME
ANDAMAN And NICOBAR ISLANDS  2911.400000
ANDHRA PRADESH                945.073913
ARUNACHAL PRADESH            2927.375000
ASSAM                        2454.359259
BIHAR                        1200.555263
CHANDIGARH                   1070.600000
CHATISGARH                   1286.350000
DADAR NAGAR HAVELI           2374.100000
DAMAN AND DUI                1535.700000
DELHI                         747.100000
GOA                          3278.500000
GUJARAT                       924.342308
HARYANA                       614.557143
HIMACHAL                     1371.591667
JAMMU AND KASHMIR            1016.618182
JHARKHAND                    1303.437500
KARNATAKA                    1194.616667
KERALA                       2937.392857
LAKSHADWEEP                  1600.000000
MADHYA PRADESH               1032.310000
MAHARASHTRA                  1278.588571
MANIPUR                      2496.633333
MEGHALAYA                    3682.842857
MIZORAM                      2616.322222
NAGALAND                     1940.700000
ORISSA                       1466.120000
PONDICHERRY                  1378.475000
PUNJAB                        648.545000
RAJASTHAN                     581.596970
SIKKIM                       2838.350000
TAMIL NADU                    960.006250
TRIPURA                      2479.125000
UTTAR PRADESH                 955.445070
UTTARANCHAL                  1558.038462
WEST BENGAL                  1810.426316

In [37]:
#Display the state-wise mean rainfall for all the months using a pivot table.
import numpy as np

pd.pivot_table(rain_data, index ='STATE_UT_NAME',
               values=['JAN', 'FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],
               aggfunc=np.mean, sort = False)

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
STATE_UT_NAME,,,,,,,,,,,,
ANDAMAN And NICOBAR ISLANDS,61.233333,33.266667,30.800000,86.966667,358.833333,418.666667,390.566667,385.300000,421.733333,301.100000,263.200000,159.733333
ARUNACHAL PRADESH,53.687500,93.293750,165.018750,275.162500,300.262500,491.381250,547.581250,378.600000,366.475000,176.768750,43.187500,35.956250
ASSAM,15.733333,31.714815,77.762963,181.266667,333.870370,465.185185,494.844444,377.370370,303.800000,136.448148,24.922222,11.440741
MEGHALAYA,14.900000,21.685714,74.757143,211.228571,430.042857,757.228571,857.742857,584.371429,454.700000,225.571429,39.571429,11.042857
MANIPUR,22.600000,55.122222,82.411111,150.766667,213.377778,487.088889,498.055556,451.800000,278.400000,189.222222,56.000000,11.788889
MIZORAM,11.566667,29.944444,96.255556,152.600000,321.322222,429.833333,452.311111,440.588889,372.155556,229.822222,64.633333,15.288889
NAGALAND,18.481818,27.672727,63.018182,134.227273,213.381818,340.318182,395.036364,350.872727,227.627273,121.154545,38.554545,10.354545
TRIPURA,11.225000,33.650000,93.625000,220.750000,391.575000,465.425000,414.975000,356.475000,260.350000,176.650000,43.300000,11.125000
WEST BENGAL,15.031579,19.084211,27.973684,56.647368,139.489474,308.531579,412.989474,361.573684,317.978947,124.373684,19.389474,7.363158
SIKKIM,47.550000,77.300000,130.600000,206.900000,323.550000,483.800000,499.200000,434.600000,373.150000,209.850000,30.950000,20.900000
ORISSA,10.810000,22.370000,27.453333,36.653333,70.723333,212.516667,332.316667,363.346667,238.336667,116.056667,30.400000,5.136667
JHARKHAND,15.837500,16.320833,16.516667,18.662500,45.875000,198.775000,333.854167,310.316667,250.958333,79.404167,10.212500,6.704167
BIHAR,13.134211,9.278947,9.873684,16.865789,51.673684,168.781579,340.836842,289.481579,223.378947,64.747368,6.715789,5.786842
UTTAR PRADESH,17.183099,13.157746,10.107042,5.318310,15.561972,90.770423,280.067606,291.232394,175.074648,45.525352,4.576056,6.870423
UTTARANCHAL,49.892308,49.592308,51.669231,29.815385,58.392308,165.715385,432.792308,426.784615,204.476923,58.838462,9.238462,20.830769
HARYANA,19.485714,16.457143,13.738095,7.619048,14.642857,51.009524,180.361905,190.909524,88.723810,18.428571,5.266667,7.914286
CHANDIGARH,44.300000,38.900000,33.200000,14.800000,30.100000,120.000000,282.400000,287.500000,154.300000,31.800000,9.900000,23.400000
DELHI,16.400000,16.300000,15.300000,8.900000,19.300000,59.800000,220.700000,245.500000,110.200000,20.500000,5.600000,8.600000
PUNJAB,25.965000,24.480000,25.900000,12.160000,16.165000,46.325000,190.610000,172.415000,92.835000,21.700000,6.085000,13.905000
HIMACHAL,81.925000,80.450000,87.633333,47.683333,54.358333,108.683333,343.825000,322.325000,150.266667,39.308333,16.908333,38.225000
JAMMU AND KASHMIR,77.977273,91.645455,119.986364,82.268182,65.136364,53.604545,172.090909,167.918182,78.254545,34.181818,27.159091,46.395455
RAJASTHAN,5.348485,4.721212,3.815152,3.303030,10.627273,54.096970,195.278788,194.554545,86.145455,14.430303,6.254545,3.021212
MADHYA PRADESH,12.892000,9.158000,7.486000,3.270000,7.006000,114.686000,311.088000,331.048000,181.574000,35.270000,10.042000,8.790000
GUJARAT,0.784615,0.392308,1.142308,0.507692,4.803846,139.246154,333.838462,257.630769,148.473077,25.103846,10.826923,1.592308
DADAR NAGAR HAVELI,0.400000,0.300000,0.000000,0.000000,7.400000,385.100000,884.500000,655.900000,391.400000,38.600000,10.500000,0.000000
DAMAN AND DUI,0.550000,0.500000,0.200000,0.100000,4.150000,276.500000,583.100000,394.600000,227.600000,35.550000,12.400000,0.450000
MAHARASHTRA,4.791429,3.474286,5.997143,6.974286,19.925714,240.980000,388.894286,314.585714,191.311429,75.648571,18.588571,7.417143
GOA,0.550000,0.050000,0.550000,7.800000,87.750000,908.100000,1108.100000,683.800000,280.900000,155.700000,35.000000,10.200000
CHATISGARH,10.377778,10.472222,12.977778,13.116667,17.483333,180.583333,375.405556,375.338889,214.444444,61.844444,8.494444,5.811111
ANDHRA PRADESH,6.321739,7.352174,10.095652,19.873913,48.765217,114.369565,185.365217,179.426087,160.373913,138.600000,58.965217,15.565217
TAMIL NADU,18.906250,14.021875,18.068750,42.596875,67.531250,50.321875,72.606250,91.571875,116.340625,186.928125,184.625000,96.487500
PONDICHERRY,26.750000,25.425000,16.725000,12.275000,40.825000,47.675000,78.025000,116.425000,119.900000,271.950000,395.150000,227.350000
KARNATAKA,2.026667,2.696667,7.163333,36.773333,88.166667,204.880000,280.700000,209.256667,164.076667,143.356667,44.350000,11.170000
KERALA,9.542857,16.200000,31.071429,109.021429,244.728571,658.707143,724.328571,417.950000,245.157143,290.907143,151.535714,38.242857
LAKSHADWEEP,20.800000,14.700000,11.800000,48.900000,171.700000,330.200000,287.700000,217.500000,163.100000,157.100000,117.700000,58.800000

In [43]:
#Display the count of districts in each state.

rain_data.groupby('STATE_UT_NAME')[['DISTRICT']].count()

                             DISTRICT
STATE_UT_NAME
ANDAMAN And NICOBAR ISLANDS         3
ANDHRA PRADESH                     23
ARUNACHAL PRADESH                  16
ASSAM                              27
BIHAR                              38
CHANDIGARH                          1
CHATISGARH                         18
DADAR NAGAR HAVELI                  1
DAMAN AND DUI                       2
DELHI                               9
GOA                                 2
GUJARAT                            26
HARYANA                            21
HIMACHAL                           12
JAMMU AND KASHMIR                  22
JHARKHAND                          24
KARNATAKA                          30
KERALA                             14
LAKSHADWEEP                         1
MADHYA PRADESH                     50
MAHARASHTRA                        35
MANIPUR                             9
MEGHALAYA                           7
MIZORAM                             9
NAGALAND                           11
ORISSA                             30
PONDICHERRY                         4
PUNJAB                             20
RAJASTHAN                          33
SIKKIM                              4
TAMIL NADU                         32
TRIPURA                             4
UTTAR PRADESH                      71
UTTARANCHAL                        13
WEST BENGAL                        19

In [148]:
#For each state, display the district that gets the highest rainfall in May. Also display the recorded rainfall.

id = rain_data.groupby(['STATE_UT_NAME'])[['MAY']].idxmax().values

for i in id:
  print(rain_data.loc[i][['STATE_UT_NAME', 'DISTRICT','MAY']])

                 STATE_UT_NAME       DISTRICT    MAY
1  ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN  374.4
      STATE_UT_NAME       DISTRICT   MAY
544  ANDHRA PRADESH  VISAKHAPATNAM  96.6
        STATE_UT_NAME    DISTRICT    MAY
10  ARUNACHAL PRADESH  PAPUM PARE  453.0
   STATE_UT_NAME   DISTRICT    MAY
31         ASSAM  KARIMGANJ  604.0
    STATE_UT_NAME    DISTRICT    MAY
194         BIHAR  KISHANGANJ  155.7
    STATE_UT_NAME    DISTRICT   MAY
306    CHANDIGARH  CHANDIGARH  30.1
    STATE_UT_NAME DISTRICT   MAY
519    CHATISGARH   BASTAR  38.6
          STATE_UT_NAME DISTRICT  MAY
479  DADAR NAGAR HAVELI      DNH  7.4
     STATE_UT_NAME DISTRICT  MAY
480  DAMAN AND DUI    DAMAN  7.4
    STATE_UT_NAME   DISTRICT   MAY
307         DELHI  NEW DELHI  19.3
    STATE_UT_NAME   DISTRICT   MAY
488           GOA  NORTH GOA  94.3
    STATE_UT_NAME DISTRICT   MAY
458       GUJARAT    DANGS  12.5
    STATE_UT_NAME   DISTRICT   MAY
303       HARYANA  PANCHKULA  27.9
    STATE_UT_NAME       DISTRICT   MAY
341      HIMACHAL  LAHUL & SPITI  91.7
         STATE_UT_NAME   DISTRICT    MAY
349  JAMMU AND KASHMIR  BARAMULLA  111.4
    STATE_UT_NAME DISTRICT   MAY
154     JHARKHAND    PAKUR  86.1
    STATE_UT_NAME DISTRICT    MAY
598     KARNATAKA    UDUPI  193.8
    STATE_UT_NAME   DISTRICT    MAY
628        KERALA  ERNAKULAM  300.4
    STATE_UT_NAME     DISTRICT    MAY
640   LAKSHADWEEP  LAKSHADWEEP  171.7
      STATE_UT_NAME       DISTRICT   MAY
451  MADHYA PRADESH  ANUPPUR(SHAHD  19.9
    STATE_UT_NAME  DISTRICT   MAY
493   MAHARASHTRA  KOLHAPUR  60.2
   STATE_UT_NAME    DISTRICT    MAY
55       MANIPUR  TAMENGLONG  539.9
   STATE_UT_NAME       DISTRICT    MAY
46     MEGHALAYA  EAST KHASI HI  733.7
   STATE_UT_NAME DISTRICT    MAY
62       MIZORAM   AIZAWL  351.4
   STATE_UT_NAME DISTRICT    MAY
75      NAGALAND    WOKHA  325.6
    STATE_UT_NAME  DISTRICT    MAY
135        ORISSA  GAJAPATI  136.8
    STATE_UT_NAME     DISTRICT   MAY
592   PONDICHERRY  PONDICHERRY  43.6
    STATE_UT_NAME  DISTRICT   MAY
325        PUNJAB  RUPNAGAR  25.6
    STATE_UT_NAME   DISTRICT   MAY
390     RAJASTHAN  JHUNJHUNU  20.7
   STATE_UT_NAME      DISTRICT    MAY
92        SIKKIM  NORTH SIKKIM  355.4
    STATE_UT_NAME     DISTRICT    MAY
563    TAMIL NADU  KANYAKUMARI  141.5
   STATE_UT_NAME       DISTRICT    MAY
82       TRIPURA  NORTH TRIPURA  440.1
     STATE_UT_NAME   DISTRICT   MAY
234  UTTAR PRADESH  BALRAMPUR  38.6
    STATE_UT_NAME    DISTRICT    MAY
279   UTTARANCHAL  UTTARKASHI  102.1
   STATE_UT_NAME     DISTRICT    MAY
86   WEST BENGAL  COOCH BEHAR  345.4